@page "/feeders"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using KanbanMBC.Components.Models
@using KanbanMBC.Data
@implements IAsyncDisposable
@inject IDbContextFactory<KanbanMBC.Data.KanbanMBCContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="feeders/create" class="btn-success">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Feeder">
    <PropertyColumn Property="feeder => feeder.EPF" />
    <PropertyColumn Property="feeder => feeder.FeederName" />

    <TemplateColumn Context="feeder">
        <a href="@($"feeders/edit?epf={feeder.EPF}")" class="btn-warning">Edit</a> |
        <a href="@($"feeders/delete?epf={feeder.EPF}")" class="btn-danger">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private KanbanMBCContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
